SECRET_KEY = 'django-#################################################'

#choose production/development settings
# DJANGO_SETTINGS_MODULE=config.settings.production 
# DJANGO_SETTINGS_MODULE=config.settings.development 